
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-21-57W {
  box-sizing: border-box;
  padding: 10rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  border: solid 0.1rem #fff9c7;
  background-color: #fdfdfd;

  .auto-group-7gzz-8Lg {
    margin: 0rem 4rem 0.045rem 0rem;
    width: 84rem;
    flex-shrink: 0;

    .rent-comparables-3Ck {
      margin-bottom: 1.8rem;
      font-size: 4.8rem;
      font-weight: 600;
      line-height: 1.5;
      color: #0d0d0d;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
    }
    .frame-1000002548-YvC {
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      width: 100%;
      align-items: center;

      .frame-1000002547-J8g {
        flex-shrink: 0;
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;

        .head-eCY {
          box-sizing: border-box;
          font-weight: 700;
          height: 100%;
          display: flex;
          line-height: 1.5;
          background-color: #0d0d0d;
          flex-shrink: 0;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          padding: 1rem 0.8rem;
          width: 24.3469rem;
          font-size: 1.4rem;
          color: #fdfdfd;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-XGL {
          color: #fdfdfd;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          flex-shrink: 0;
          font-weight: 700;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #0d0d0d;
          width: 10.2375rem;
          align-items: center;
          height: 100%;
          justify-content: center;
          font-size: 1.4rem;
          line-height: 1.5;
          white-space: nowrap;
          display: flex;
        }
        .head-Dex {
          line-height: 1.5;
          color: #fdfdfd;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #0d0d0d;
          flex-shrink: 0;
          font-weight: 700;
          font-size: 1.4rem;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          justify-content: center;
          height: 100%;
          font-family: Montserrat, 'Source Sans Pro';
          width: 9.8438rem;
        }
        .head-6Tr {
          box-sizing: border-box;
          font-size: 1.4rem;
          line-height: 1.5;
          width: 9.8438rem;
          height: 100%;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          background-color: #0d0d0d;
          flex-shrink: 0;
          font-weight: 700;
          color: #fdfdfd;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-784 {
          align-items: center;
          background-color: #0d0d0d;
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
          justify-content: center;
          width: 9.8438rem;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.4rem;
          white-space: nowrap;
          color: #fdfdfd;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          height: 100%;
          line-height: 1.5;
        }
        .head-oWg {
          background-color: #0d0d0d;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.65rem 1.7219rem;
          width: 9.8438rem;
          height: 100%;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);

          .item-2722-XSg {
            max-width: 6.4rem;
            display: flex;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1;
            color: #fdfdfd;
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
        .head-SEC {
          height: 100%;
          line-height: 1.5;
          white-space: nowrap;
          box-sizing: border-box;
          display: flex;
          font-weight: 700;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          flex-shrink: 0;
          font-size: 1.4rem;
          color: #fdfdfd;
          width: 10.0406rem;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #0d0d0d;
        }
      }
      .frame-1000002540-5nx {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 4.1rem;

        .head-dJg {
          flex-shrink: 0;
          color: #0d0d0d;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #fdfdfd;
          justify-content: center;
          height: 100%;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          width: 24.3469rem;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          box-sizing: border-box;
        }
        .head-NQg {
          white-space: nowrap;
          width: 10.2375rem;
          font-weight: 500;
          color: #0d0d0d;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #fdfdfd;
          height: 100%;
          align-items: center;
          line-height: 1.5;
          justify-content: center;
          box-sizing: border-box;
          flex-shrink: 0;
        }
        .head-Th2 {
          height: 100%;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          color: #0d0d0d;
          justify-content: center;
          background-color: #fdfdfd;
          box-sizing: border-box;
          flex-shrink: 0;
          width: 9.8438rem;
          font-size: 1.4rem;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-mhi {
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          display: flex;
          font-weight: 500;
          align-items: center;
          width: 9.8438rem;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          height: 100%;
          line-height: 1.5;
          color: #0d0d0d;
          box-sizing: border-box;
          background-color: #fdfdfd;
        }
        .head-rz4 {
          color: #0d0d0d;
          background-color: #fdfdfd;
          flex-shrink: 0;
          height: 100%;
          display: flex;
          justify-content: center;
          box-sizing: border-box;
          width: 9.8438rem;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
        }
        .head-mr8 {
          background-color: #fdfdfd;
          flex-shrink: 0;
          width: 9.8438rem;
          line-height: 1.5;
          display: flex;
          box-sizing: border-box;
          white-space: nowrap;
          font-size: 1.4rem;
          font-weight: 500;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          height: 100%;
        }
        .head-GH6 {
          color: #0d0d0d;
          box-sizing: border-box;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #fdfdfd;
          width: 10.0406rem;
          height: 100%;
          display: flex;
          font-weight: 500;
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.5;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
      }
      .frame-1000002541-B9A {
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .head-sGt {
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 0.8rem;
          height: 100%;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          width: 24.3469rem;
          font-weight: 500;
          white-space: nowrap;
          background-color: #fdfdfd;
          display: flex;
          line-height: 1.5;
          color: #0d0d0d;
        }
        .head-XMS {
          background-color: #fdfdfd;
          align-items: center;
          font-weight: 500;
          color: #0d0d0d;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          line-height: 1.5;
          width: 10.2375rem;
          box-sizing: border-box;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          height: 100%;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-34t {
          height: 100%;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          width: 9.8438rem;
          display: flex;
          font-size: 1.4rem;
          font-weight: 500;
          color: #0d0d0d;
          flex-shrink: 0;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          background-color: #fdfdfd;
        }
        .head-kEC {
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-size: 1.4rem;
          height: 100%;
          display: flex;
          font-weight: 500;
          color: #0d0d0d;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #fdfdfd;
          width: 9.8438rem;
          flex-shrink: 0;
          align-items: center;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          line-height: 1.5;
        }
        .head-3DJ {
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          height: 100%;
          display: flex;
          color: #0d0d0d;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #fdfdfd;
          width: 9.8438rem;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          flex-shrink: 0;
        }
        .head-MUt {
          color: #0d0d0d;
          flex-shrink: 0;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          display: flex;
          font-size: 1.4rem;
          line-height: 1.5;
          justify-content: center;
          background-color: #fdfdfd;
          width: 9.8438rem;
          height: 100%;
          align-items: center;
        }
        .head-q9A {
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-weight: 500;
          color: #0d0d0d;
          white-space: nowrap;
          justify-content: center;
          display: flex;
          line-height: 1.5;
          height: 100%;
          font-size: 1.4rem;
          align-items: center;
          box-sizing: border-box;
          background-color: #fdfdfd;
          flex-shrink: 0;
          width: 10.0406rem;
        }
      }
      .frame-1000002542-L5v {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-Fig {
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          height: 100%;
          font-size: 1.4rem;
          color: #0d0d0d;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 0.8rem;
          white-space: nowrap;
          background-color: #fdfdfd;
          font-weight: 500;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          width: 24.3469rem;
          display: flex;
        }
        .head-jdr {
          height: 100%;
          font-size: 1.4rem;
          background-color: #fdfdfd;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          display: flex;
          align-items: center;
          font-weight: 500;
          flex-shrink: 0;
          width: 10.2375rem;
          justify-content: center;
          color: #0d0d0d;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
        }
        .head-2N4 {
          width: 9.8438rem;
          display: flex;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          font-size: 1.4rem;
          line-height: 1.5;
          align-items: center;
          height: 100%;
          font-family: Montserrat, 'Source Sans Pro';
          font-weight: 500;
          color: #0d0d0d;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #fdfdfd;
        }
        .head-LtY {
          width: 9.8438rem;
          height: 100%;
          line-height: 1.5;
          font-size: 1.4rem;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          font-weight: 500;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          background-color: #fdfdfd;
          display: flex;
          box-sizing: border-box;
        }
        .head-2mN {
          align-items: center;
          width: 9.8438rem;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          height: 100%;
          font-weight: 500;
          line-height: 1.5;
          color: #0d0d0d;
          box-sizing: border-box;
          font-size: 1.4rem;
          white-space: nowrap;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #fdfdfd;
        }
        .head-uqA {
          height: 100%;
          display: flex;
          white-space: nowrap;
          font-size: 1.4rem;
          line-height: 1.5;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #fdfdfd;
          flex-shrink: 0;
          font-weight: 500;
          justify-content: center;
          width: 9.8438rem;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          box-sizing: border-box;
        }
        .head-QX2 {
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          height: 100%;
          line-height: 1.5;
          white-space: nowrap;
          background-color: #fdfdfd;
          width: 10.0406rem;
          font-weight: 500;
          color: #0d0d0d;
          display: flex;
          font-size: 1.4rem;
          box-sizing: border-box;
        }
      }
      .frame-1000002543-W4G {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-r88 {
          font-size: 1.4rem;
          line-height: 1.5;
          color: #0d0d0d;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          padding: 1rem 0.8rem;
          width: 24.3469rem;
          font-weight: 500;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #fdfdfd;
          box-sizing: border-box;
          height: 100%;
        }
        .head-Hz8 {
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #fdfdfd;
          display: flex;
          align-items: center;
          font-weight: 500;
          line-height: 1.5;
          height: 100%;
          justify-content: center;
          box-sizing: border-box;
          flex-shrink: 0;
          width: 10.2375rem;
          font-size: 1.4rem;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-D76 {
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          font-size: 1.4rem;
          justify-content: center;
          width: 9.8438rem;
          align-items: center;
          height: 100%;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #fdfdfd;
          flex-shrink: 0;
        }
        .head-fzg {
          font-size: 1.4rem;
          box-sizing: border-box;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          background-color: #fdfdfd;
          font-weight: 500;
          line-height: 1.5;
          color: #0d0d0d;
          height: 100%;
          display: flex;
          white-space: nowrap;
          width: 9.8438rem;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-mXv {
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          box-sizing: border-box;
          background-color: #fdfdfd;
          height: 100%;
          align-items: center;
          flex-shrink: 0;
          white-space: nowrap;
          font-size: 1.4rem;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          width: 9.8438rem;
        }
        .head-4G8 {
          display: flex;
          line-height: 1.5;
          white-space: nowrap;
          font-weight: 500;
          color: #0d0d0d;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          width: 9.8438rem;
          height: 100%;
          font-size: 1.4rem;
          align-items: center;
          justify-content: center;
          background-color: #fdfdfd;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          box-sizing: border-box;
        }
        .head-Mm2 {
          line-height: 1.5;
          background-color: #fdfdfd;
          width: 10.0406rem;
          height: 100%;
          display: flex;
          font-size: 1.4rem;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          font-weight: 500;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
        }
      }
      .frame-1000002544-Gd6 {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 4.1rem;
        display: flex;

        .head-CFr {
          color: #0d0d0d;
          white-space: nowrap;
          padding: 1rem 0.8rem;
          height: 100%;
          box-sizing: border-box;
          display: flex;
          font-size: 1.4rem;
          font-weight: 500;
          flex-shrink: 0;
          width: 24.3469rem;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #fdfdfd;
        }
        .head-etY {
          height: 100%;
          font-weight: 500;
          background-color: #fdfdfd;
          width: 10.2375rem;
          align-items: center;
          font-family: Montserrat, 'Source Sans Pro';
          display: flex;
          font-size: 1.4rem;
          flex-shrink: 0;
          justify-content: center;
          line-height: 1.5;
          color: #0d0d0d;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
        }
        .head-NJk {
          align-items: center;
          flex-shrink: 0;
          width: 9.8438rem;
          font-size: 1.4rem;
          font-weight: 500;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          line-height: 1.5;
          justify-content: center;
          background-color: #fdfdfd;
          display: flex;
          white-space: nowrap;
          box-sizing: border-box;
          height: 100%;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-5yr {
          display: flex;
          justify-content: center;
          background-color: #fdfdfd;
          width: 9.8438rem;
          font-size: 1.4rem;
          font-weight: 500;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          height: 100%;
          line-height: 1.5;
          white-space: nowrap;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .head-xGx {
          line-height: 1.5;
          white-space: nowrap;
          display: flex;
          font-size: 1.4rem;
          align-items: center;
          box-sizing: border-box;
          background-color: #fdfdfd;
          height: 100%;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          width: 9.8438rem;
          font-weight: 500;
          color: #0d0d0d;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-TzQ {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          height: 100%;
          color: #0d0d0d;
          background-color: #fdfdfd;
          width: 9.8438rem;
          line-height: 1.5;
          align-items: center;
          box-sizing: border-box;
        }
        .head-kTi {
          background-color: #fdfdfd;
          flex-shrink: 0;
          width: 10.0406rem;
          font-weight: 500;
          line-height: 1.5;
          align-items: center;
          display: flex;
          white-space: nowrap;
          justify-content: center;
          height: 100%;
          font-size: 1.4rem;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
        }
      }
      .frame-1000002546-qk4 {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-axY {
          color: #0d0d0d;
          background-color: #fdfdfd;
          flex-shrink: 0;
          width: 24.3469rem;
          display: flex;
          white-space: nowrap;
          font-size: 1.4rem;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          padding: 1rem 0.8rem;
          height: 100%;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          font-weight: 500;
        }
        .head-U2L {
          line-height: 1.5;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          white-space: nowrap;
          box-sizing: border-box;
          height: 100%;
          font-size: 1.4rem;
          font-weight: 500;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #fdfdfd;
          width: 10.2375rem;
          align-items: center;
        }
        .head-BSY {
          font-weight: 500;
          line-height: 1.5;
          background-color: #fdfdfd;
          width: 9.8438rem;
          display: flex;
          font-size: 1.4rem;
          white-space: nowrap;
          flex-shrink: 0;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-t64 {
          background-color: #fdfdfd;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          height: 100%;
          display: flex;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          flex-shrink: 0;
          width: 9.8438rem;
        }
        .head-N1E {
          font-size: 1.4rem;
          color: #0d0d0d;
          background-color: #fdfdfd;
          height: 100%;
          box-sizing: border-box;
          flex-shrink: 0;
          width: 9.8438rem;
          font-weight: 500;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          white-space: nowrap;
          align-items: center;
        }
        .head-TYU {
          color: #0d0d0d;
          white-space: nowrap;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          justify-content: center;
          background-color: #fdfdfd;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          width: 9.8438rem;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-size: 1.4rem;
        }
        .head-hSp {
          font-size: 1.4rem;
          box-sizing: border-box;
          background-color: #fdfdfd;
          flex-shrink: 0;
          height: 100%;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          align-items: center;
          width: 10.0406rem;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
        }
      }
      .frame-1000002545-CeU {
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 4.1rem;
        display: flex;

        .head-YiL {
          font-family: Montserrat, 'Source Sans Pro';
          padding: 1rem 0.8rem;
          color: #0d0d0d;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          height: 100%;
          background-color: #fdfdfd;
          width: 24.3469rem;
          display: flex;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          flex-shrink: 0;
          box-sizing: border-box;
        }
        .head-FMr {
          display: flex;
          font-size: 1.4rem;
          font-weight: 500;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #fdfdfd;
          height: 100%;
          align-items: center;
          font-family: Montserrat, 'Source Sans Pro';
          color: #0d0d0d;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          width: 10.2375rem;
          justify-content: center;
          line-height: 1.5;
        }
        .head-m5J {
          font-size: 1.4rem;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          font-weight: 500;
          line-height: 1.5;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #fdfdfd;
          width: 9.8438rem;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          align-items: center;
        }
        .head-gTA {
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          line-height: 1.5;
          font-weight: 500;
          white-space: nowrap;
          align-items: center;
          display: flex;
          color: #0d0d0d;
          background-color: #fdfdfd;
          width: 9.8438rem;
          font-size: 1.4rem;
          justify-content: center;
          flex-shrink: 0;
          height: 100%;
        }
        .head-nWC {
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          font-size: 1.4rem;
          color: #0d0d0d;
          background-color: #fdfdfd;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.5;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          width: 9.8438rem;
          height: 100%;
          box-sizing: border-box;
        }
        .head-6mn {
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          font-size: 1.4rem;
          line-height: 1.5;
          flex-shrink: 0;
          width: 9.8438rem;
          font-weight: 500;
          align-items: center;
          background-color: #fdfdfd;
          height: 100%;
          justify-content: center;
          box-sizing: border-box;
        }
        .head-ZQU {
          height: 100%;
          display: flex;
          white-space: nowrap;
          background-color: #fdfdfd;
          width: 10.0406rem;
          font-size: 1.4rem;
          color: #0d0d0d;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
        }
      }
    }
    .group-17-Qfz {
      width: 83.4025rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;

      .auto-group-y6ax-Zon {
        flex-shrink: 0;
        margin-bottom: 0.4765rem;
        width: 100%;
        display: flex;
        align-items: flex-end;

        .auto-group-uq7m-XEp {
          margin-right: 1.7549rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .item-2800-1fn {
            font-weight: 400;
            line-height: 1.2175;
            color: #00010b;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.7259rem;
            font-size: 1.2rem;
          }
          .item-2600-Yfi {
            margin-bottom: 4.0341rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #00010b;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-2400-HdJ {
            flex-shrink: 0;
            margin-bottom: 4.0341rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #00010b;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-2200-Qhv {
            line-height: 1.2175;
            color: #00010b;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.9353rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .item-2000-MdA {
            flex-shrink: 0;
            margin-bottom: 4.1329rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #00010b;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-1800-WFA {
            font-weight: 400;
            line-height: 1.2175;
            color: #00010b;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 3.7376rem;
            font-size: 1.2rem;
          }
          .item-1600-esA {
            line-height: 1.2175;
            color: #00010b;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .auto-group-1wwb-A4p {
          margin-bottom: 0.5106rem;
          width: 77.5477rem;
          height: 36.3682rem;
          border-bottom: dashed 0.1rem rgba(0, 1, 11, 0.200000003);
          box-sizing: border-box;
          flex-shrink: 0;

          .auto-group-fbdm-gor {
            width: 100%;
            height: 36.2682rem;
            position: relative;

            .line-2-aeL {
              width: 77.5477rem;
              height: 0.1rem;
              position: absolute;
              left: 0;
              top: 19.6659rem;
              background-color: rgba(0, 1, 11, 0.200000003);
            }
            .line-6-7uA {
              height: 0.1rem;
              position: absolute;
              left: 0;
              top: 14.1318rem;
              background-color: rgba(0, 1, 11, 0.200000003);
              width: 77.5477rem;
            }
            .line-7-Ty2 {
              left: 0;
              top: 8.5976rem;
              background-color: rgba(0, 1, 11, 0.200000003);
              width: 77.5477rem;
              height: 0.1rem;
              position: absolute;
            }
            .line-8-DSQ {
              left: 0;
              top: 2.3718rem;
              background-color: rgba(0, 1, 11, 0.200000003);
              width: 77.5477rem;
              height: 0.1rem;
              position: absolute;
            }
            .line-3-ZmA {
              width: 77.5477rem;
              height: 0.1rem;
              position: absolute;
              left: 0;
              top: 25.1012rem;
              background-color: rgba(0, 1, 11, 0.200000003);
            }
            .line-4-UdE {
              width: 77.5477rem;
              height: 0.1rem;
              position: absolute;
              left: 0;
              top: 30.7341rem;
              background-color: rgba(0, 1, 11, 0.200000003);
            }
            .item-2047-pwz {
              width: 3.6rem;
              height: 1.4rem;
              line-height: 1.2175;
              white-space: nowrap;
              position: absolute;
              left: 2.9873rem;
              top: 21.3459rem;
              font-size: 1.1rem;
              font-weight: 400;
              color: #00010b;
              font-family: Montserrat, 'Source Sans Pro';
            }
            .item-2298-j3N {
              width: 3.6rem;
              left: 14.0996rem;
              top: 17.8871rem;
              white-space: nowrap;
              line-height: 1.2175;
              color: #00010b;
              font-family: Montserrat, 'Source Sans Pro';
              height: 1.4rem;
              position: absolute;
              font-size: 1.1rem;
              font-weight: 400;
            }
            .item-2342-FGc {
              font-size: 1.1rem;
              color: #00010b;
              font-family: Montserrat, 'Source Sans Pro';
              left: 25.212rem;
              height: 1.4rem;
              position: absolute;
              top: 17.4918rem;
              font-weight: 400;
              line-height: 1.2175;
              white-space: nowrap;
              width: 3.6rem;
            }
            .item-2343-NME {
              width: 3.6rem;
              left: 36.4438rem;
              font-size: 1.1rem;
              font-family: Montserrat, 'Source Sans Pro';
              color: #00010b;
              white-space: nowrap;
              height: 1.4rem;
              position: absolute;
              top: 16.9976rem;
              font-weight: 400;
              line-height: 1.2175;
            }
            .item-2435-6Y8 {
              line-height: 1.2175;
              white-space: nowrap;
              width: 3.5rem;
              position: absolute;
              top: 12.6494rem;
              font-size: 1.1rem;
              font-weight: 400;
              color: #00010b;
              font-family: Montserrat, 'Source Sans Pro';
              height: 1.4rem;
              left: 47.4368rem;
            }
            .item-2699-oBe {
              font-size: 1.1rem;
              line-height: 1.2175;
              height: 1.4rem;
              left: 58.549rem;
              top: 4.4471rem;
              font-weight: 400;
              color: #00010b;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
              width: 3.6rem;
              position: absolute;
            }
            .item-2722-4tG {
              height: 1.4rem;
              position: absolute;
              top: 2.5694rem;
              font-weight: 400;
              color: #00010b;
              width: 3.5rem;
              left: 69.6614rem;
              font-size: 1.1rem;
              line-height: 1.2175;
              font-family: Montserrat, 'Source Sans Pro';
              white-space: nowrap;
            }
            .rectangle-14-o5A {
              position: absolute;
              left: 3.8237rem;
              top: 23.4212rem;
              background-color: #ede8e6;
              border-radius: 0.2rem 0.2rem 0 0;
              width: 2.8677rem;
              height: 12.8471rem;
            }
            .rectangle-43-XG4 {
              border-radius: 0.2rem 0.2rem 0 0;
              width: 2.8677rem;
              height: 16.3059rem;
              position: absolute;
              left: 14.936rem;
              top: 19.9624rem;
              background-color: #ede8e6;
            }
            .rectangle-44-4Fz {
              width: 2.8677rem;
              height: 16.7012rem;
              position: absolute;
              left: 26.0483rem;
              top: 19.5671rem;
              background-color: #ede8e6;
              border-radius: 0.2rem 0.2rem 0 0;
            }
            .rectangle-45-Pp4 {
              left: 37.1607rem;
              top: 19.0729rem;
              background-color: #0d0d0d;
              border-radius: 0.2rem 0.2rem 0 0;
              width: 2.8677rem;
              height: 17.1953rem;
              position: absolute;
            }
            .rectangle-46-hZr {
              width: 2.8677rem;
              height: 21.5435rem;
              position: absolute;
              left: 48.273rem;
              top: 14.7247rem;
              background-color: #ede8e6;
              border-radius: 0.2rem 0.2rem 0 0;
            }
            .rectangle-47-EZn {
              left: 59.3854rem;
              top: 6.5224rem;
              background-color: #ede8e6;
              border-radius: 0.2rem 0.2rem 0 0;
              width: 2.8677rem;
              height: 29.7459rem;
              position: absolute;
            }
            .rectangle-48-JJk {
              position: absolute;
              left: 70.4979rem;
              top: 4.6447rem;
              background-color: #ede8e6;
              border-radius: 0.2rem 0.2rem 0 0;
              width: 2.8677rem;
              height: 31.6235rem;
            }
            .rectangle-42-ETJ {
              background-color: #ede8e6;
              border-radius: 0.4rem;
              width: 10.3954rem;
              height: 2.9647rem;
              position: absolute;
              left: 46.1224rem;
              top: 0;
            }
            .item-379-NpQ {
              color: #0d0d0d;
              white-space: nowrap;
              height: 1.7rem;
              position: absolute;
              font-size: 1.2rem;
              font-weight: 500;
              font-family: Montserrat, 'Source Sans Pro';
              width: 2.9rem;
              left: 49.5875rem;
              top: 0.6918rem;
              line-height: 1.3602272669;
            }
            .rectangle-51-gKJ {
              border-radius: 5rem;
              width: 15.6rem;
              height: 0.1rem;
              position: absolute;
              left: 56.5451rem;
              top: 1.5rem;
              background-color: #1e2029;
            }
            .rectangle-53-nNL {
              height: 0.0988rem;
              position: absolute;
              left: 38.2361rem;
              top: 1.4824rem;
              background-color: #1e2029;
              border-radius: 5rem;
              width: 7.8862rem;
            }
            .rectangle-52-J5n {
              width: 0.1195rem;
              height: 0.6918rem;
              position: absolute;
              left: 72.0512rem;
              top: 1.4824rem;
              background-color: #1e2029;
              border-radius: 5rem;
            }
            .rectangle-54-SBz {
              background-color: #1e2029;
              border-radius: 5rem;
              width: 0.1195rem;
              height: 13.2424rem;
              position: absolute;
              left: 38.2362rem;
              top: 1.4824rem;
            }
          }
        }
      }
      .auto-group-alw7-ubN {
        margin-right: 0.5795rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .the-watson-eor {
          text-align: center;
          font-size: 1.2rem;
          line-height: 1.2175;
          white-space: nowrap;
          margin-right: 4.4417rem;
          font-weight: 400;
          color: #00010b;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .amelia-westshore-yr8 {
          flex-shrink: 0;
          font-size: 1.2rem;
          line-height: 1.2175;
          color: #00010b;
          font-family: Montserrat, 'Source Sans Pro';
          margin-right: 3.7844rem;
          max-width: 6.5rem;
          text-align: center;
          font-weight: 400;
        }
        .azola-south-tampa-6fr {
          font-size: 1.2rem;
          font-weight: 400;
          margin-right: 3.2513rem;
          max-width: 7.2rem;
          text-align: center;
          flex-shrink: 0;
          line-height: 1.2175;
          color: #00010b;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .the-pointe-on-westshore-dQt {
          max-width: 9rem;
          font-weight: 400;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 3.7208rem;
          text-align: center;
          font-size: 1.2rem;
          line-height: 1.2175;
          color: #00010b;
        }
        .town-westshore-Mbn {
          margin-right: 4.3137rem;
          max-width: 6.5rem;
          text-align: center;
          font-weight: 400;
          flex-shrink: 0;
          font-size: 1.2rem;
          line-height: 1.2175;
          color: #00010b;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .cortland-westshore-St8 {
          max-width: 6.5rem;
          font-size: 1.2rem;
          line-height: 1.2175;
          color: #00010b;
          font-family: Montserrat, 'Source Sans Pro';
          margin-right: 4.4988rem;
          text-align: center;
          font-weight: 400;
          flex-shrink: 0;
        }
        .bainbridge-at-westshore-marina-LyW {
          line-height: 1.2175;
          color: #00010b;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 8.4rem;
          text-align: center;
          font-size: 1.2rem;
          font-weight: 400;
        }
      }
    }
  }
  .group-18-eUQ {
    box-sizing: border-box;
    padding: 9.3rem 25.299rem 17.1rem 16.306rem;
    width: 84rem;
    height: 88rem;
    flex-direction: column;
    background-position: center;
    background-image: url('REPLACE_IMAGE:0f27c713a86d195adffe1c5c7ef3ee27917b22e8');
    flex-shrink: 0;
    align-items: center;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .auto-group-wqn7-ASk {
      margin: 0rem 16.108rem 1.9rem 0rem;
      width: 18.9741rem;
      height: 17.1rem;
      position: relative;
      flex-shrink: 0;

      .ellipse-61-J3A {
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 9.8823rem;
        height: 10rem;
        position: absolute;
      }
      .ellipse-63-3WY {
        object-fit: contain;
        vertical-align: top;
        width: 9.8823rem;
        height: 10rem;
        position: absolute;
        left: 9.0918rem;
        top: 7.1rem;
      }
    }
    .ellipse-62-9Jg {
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 0rem 0.7rem 0.296rem;
      width: 9.8823rem;
      height: 10rem;
      object-fit: contain;
    }
    .auto-group-pm2t-t1N {
      height: 22.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-left: 11.4636rem;
      width: calc(100% - 11.4636rem);

      .auto-group-lhwh-27a {
        margin-right: 3.5577rem;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .ellipse-60-aPz {
          margin: 0rem 7.609rem 2.5rem 0rem;
          width: 9.8823rem;
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ellipse-58-gT2 {
          margin-left: 7.6094rem;
          width: 9.8823rem;
          height: 10rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .ellipse-59-c5n {
        width: 9.8823rem;
        height: 10rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 2.5rem;
      }
    }
    .ellipse-57-x9e {
      margin-right: 33.1059rem;
      width: 9.2895rem;
      height: 9.4rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
