
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-5-FnG {
  position: relative;
  background-color: #fdfdfd;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding-top: 10rem;
  align-items: center;
  display: flex;

  .auto-group-gyj1-ChW {
    width: calc(100% - 23rem);
    height: 60.4rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 13rem 9.2rem 10rem;

    .image-29-Xjn {
      margin-right: 9.2rem;
      width: 102.7rem;
      height: 60.4rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-mkh5-RaG {
      margin: 1.9rem 0rem 4.3rem 0rem;
      height: calc(100% - 6.2rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-1000002501-ksS {
        height: 14.7rem;
        border-bottom: solid 0.1rem #000000;
        box-sizing: border-box;
        flex-shrink: 0;
        margin: 0rem 20.8rem 13.1rem 0rem;

        .the-pointe-on-westshore-HsN {
          font-weight: 700;
          line-height: 1.2999999306;
          text-transform: uppercase;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 36.3rem;
          font-size: 4.4rem;
        }
      }
      .two-resort-style-pools-a-large-clubhouse-with-indoor-and-outdoor-resident-lounge-areas-business-center-coffee-bar-gas-grilling-stations-pet-spa-package-locker-room-car-wash-area-a-state-of-the-art-fitness-center-and-more-nested-along-the-southern-edge-of-south-tampas-burgeoning-new-westshore-marina-district-residents-enjoy-resort-style-living-but-with-the-convenience-of-being-within-a-20-minute-commute-to-the-largest-employment-centers-in-the-region-including-the-westshore-business-district-gateway-downtown-tampa-and-downtown-st-petersburg-which-collectively-employ-nearly-300000-mostly-white-collar-employees-xyW {
        flex-shrink: 0;
        max-width: 57.1rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #00010b;
        font-family: Montserrat, 'Source Sans Pro';
      }
    }
  }
  .auto-group-3ycx-bf6 {
    width: 100%;
    height: 28.4rem;
    background-color: #0d0d0d;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7.4rem 14.6rem 8.1rem 14.7rem;

    .frame-1000002506-6br {
      height: 100%;
      display: flex;
      column-gap: 11.1625rem;
      align-items: center;
      width: 100%;

      .frame-34-c4Q {
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;

        .item-444-JT2 {
          line-height: 1.5;
          color: #fdfdfd;
          font-family: Montserrat, 'Source Sans Pro';
          margin-bottom: 0.9rem;
          font-size: 5.6rem;
          font-weight: 600;
          letter-spacing: 0.112rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .units-bBE {
          font-weight: 500;
          line-height: 1.5;
          color: #fdfdfd;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 2.4rem;
        }
      }
      .line-14-8S4 {
        background-color: rgba(253, 253, 253, 0.8000000119);
        flex-shrink: 0;
        width: 0.1rem;
        height: 10rem;
      }
      .frame-1000002502-Tz8 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .item-2022-Rvx {
          margin-bottom: 0.9rem;
          font-weight: 600;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 5.6rem;
          line-height: 1.5;
          letter-spacing: 0.112rem;
          color: #fafaff;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .built-YEt {
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #fafaff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .line-15-Ff6 {
        width: 0.1rem;
        height: 10rem;
        background-color: rgba(253, 253, 253, 0.8000000119);
        flex-shrink: 0;
      }
      .frame-1000002503-Boe {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item-96-Yu6 {
          flex-shrink: 0;
          font-weight: 600;
          line-height: 1.5;
          color: #fafaff;
          white-space: nowrap;
          margin-bottom: 0.9rem;
          font-size: 5.6rem;
          letter-spacing: 0.112rem;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .occupied-Cik {
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #fafaff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
        }
      }
      .line-16-jCt {
        width: 0.1rem;
        height: 10rem;
        background-color: rgba(253, 253, 253, 0.8000000119);
        flex-shrink: 0;
      }
      .frame-1000002504-UwA {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item-2343-Ssz {
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          font-size: 5.6rem;
          font-weight: 600;
          letter-spacing: 0.112rem;
          font-family: Montserrat, 'Source Sans Pro';
          line-height: 1.5;
          color: #fafaff;
          white-space: nowrap;
        }
        .in-place-unit-BKn {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
          color: #fafaff;
          font-family: Montserrat, 'Source Sans Pro';
        }
      }
      .line-17-6Br {
        width: 0.1rem;
        height: 10rem;
        background-color: rgba(253, 253, 253, 0.8000000119);
        flex-shrink: 0;
      }
      .frame-1000002505-3ct {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        align-items: center;

        .item-220-zo2 {
          color: #fafaff;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.9rem;
          font-size: 5.6rem;
          font-weight: 600;
          line-height: 1.5;
          letter-spacing: 0.112rem;
          white-space: nowrap;
        }
        .in-place-sf-srp {
          color: #fafaff;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.1rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.5;
        }
      }
    }
  }
}
