
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-10-LFr {
  height: 108rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .image-45-qTW {
    vertical-align: top;
    width: 40rem;
    height: 32.8rem;
    position: absolute;
    left: 64rem;
    top: 151.4rem;
    object-fit: cover;
  }
  .auto-group-asgt-Ysi {
    position: absolute;
    left: 10rem;
    top: 65.2rem;
    display: flex;
    align-items: flex-start;
    width: 172rem;
    height: 32.8rem;

    .positioned-near-the-middle-of-thecompetitive-set-UmN {
      font-weight: 700;
      line-height: 1.3999999364;
      color: #00010b;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 5.4rem;
      max-width: 38.6rem;
      font-size: 3.6rem;
    }
    .frame-1000002548-n1N {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 128rem;
      height: 100%;
      align-items: center;

      .frame-1000002547-5WG {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 4.1rem;

        .head-dGt {
          border: solid 0.1rem #0d0d0d;
          display: flex;
          white-space: nowrap;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.4rem;
          line-height: 1.5;
          height: 100%;
          color: #0d0d0d;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 37.1rem;
          background-color: #fdfdfd;
          padding: 1rem 0.8rem;
          font-weight: 700;
        }
        .head-F3N {
          width: 15.6rem;
          font-size: 1.4rem;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #fdfdfd;
          flex-shrink: 0;
          align-items: center;
          color: #0d0d0d;
          border: solid 0.1rem #0d0d0d;
          height: 100%;
          display: flex;
          font-weight: 700;
          justify-content: center;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-7bN {
          line-height: 1.5;
          box-sizing: border-box;
          background-color: #fdfdfd;
          width: 15rem;
          font-weight: 700;
          justify-content: center;
          flex-shrink: 0;
          font-size: 1.4rem;
          align-items: center;
          border: solid 0.1rem #0d0d0d;
          white-space: nowrap;
          height: 100%;
          display: flex;
          color: #0d0d0d;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-Rc4 {
          align-items: center;
          white-space: nowrap;
          justify-content: center;
          box-sizing: border-box;
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
          color: #0d0d0d;
          border: solid 0.1rem #0d0d0d;
          width: 15rem;
          font-weight: 700;
          line-height: 1.5;
          height: 100%;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #fdfdfd;
        }
        .head-waQ {
          display: flex;
          box-sizing: border-box;
          width: 15rem;
          line-height: 1.5;
          color: #0d0d0d;
          white-space: nowrap;
          border: solid 0.1rem #0d0d0d;
          background-color: #fdfdfd;
          font-size: 1.4rem;
          font-weight: 700;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          height: 100%;
          align-items: center;
          justify-content: center;
        }
        .head-eDv {
          box-sizing: border-box;
          flex-shrink: 0;
          display: flex;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          width: 15rem;
          color: #0d0d0d;
          align-items: center;
          font-size: 1.4rem;
          font-weight: 700;
          white-space: nowrap;
          height: 100%;
          border: solid 0.1rem #0d0d0d;
          background-color: #fdfdfd;
        }
        .head-xkQ {
          font-weight: 700;
          line-height: 1.5;
          align-items: center;
          justify-content: center;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem #0d0d0d;
          background-color: #fdfdfd;
          flex-shrink: 0;
          font-size: 1.4rem;
          height: 100%;
          color: #0d0d0d;
          white-space: nowrap;
          box-sizing: border-box;
          width: 15.3rem;
        }
      }
      .frame-1000002540-3mr {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-712 {
          height: 100%;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          font-size: 1.4rem;
          color: #000000;
          padding: 1rem 0.8rem;
          width: 37.1rem;
          line-height: 1.5;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-CHN {
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          background-color: #ffffff;
          color: #000000;
          align-items: center;
          width: 15.6rem;
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          height: 100%;
          line-height: 1.5;
          flex-shrink: 0;
          font-weight: 500;
        }
        .head-MpU {
          font-weight: 500;
          white-space: nowrap;
          background-color: #ffffff;
          color: #000000;
          justify-content: center;
          width: 15rem;
          line-height: 1.5;
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          display: flex;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-F9A {
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          width: 15rem;
          font-size: 1.4rem;
          white-space: nowrap;
          background-color: #ffffff;
          flex-shrink: 0;
          display: flex;
          font-weight: 500;
          line-height: 1.5;
          height: 100%;
          align-items: center;
          box-sizing: border-box;
        }
        .head-ZQk {
          display: flex;
          font-weight: 500;
          color: #000000;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          height: 100%;
          line-height: 1.5;
          justify-content: center;
          font-size: 1.4rem;
          box-sizing: border-box;
          background-color: #ffffff;
          width: 15rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          flex-shrink: 0;
        }
        .head-46c {
          justify-content: center;
          box-sizing: border-box;
          width: 15rem;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          height: 100%;
          display: flex;
          line-height: 1.5;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 500;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .head-ww6 {
          font-size: 1.4rem;
          color: #000000;
          align-items: center;
          width: 15.3rem;
          height: 100%;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          background-color: #ffffff;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.5;
          justify-content: center;
        }
      }
      .frame-1000002541-oyJ {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-xbJ {
          height: 100%;
          background-color: #ffffff;
          width: 37.1rem;
          padding: 1rem 0.8rem;
          font-size: 1.4rem;
          line-height: 1.5;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          font-weight: 500;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
        }
        .head-rgg {
          height: 100%;
          line-height: 1.5;
          display: flex;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          width: 15.6rem;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 500;
          white-space: nowrap;
          background-color: #ffffff;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
        }
        .head-Lrk {
          height: 100%;
          align-items: center;
          font-weight: 500;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          width: 15rem;
          font-size: 1.4rem;
          flex-shrink: 0;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          justify-content: center;
          background-color: #ffffff;
          display: flex;
          line-height: 1.5;
        }
        .head-DQk {
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #ffffff;
          flex-shrink: 0;
          font-size: 1.4rem;
          display: flex;
          font-weight: 500;
          color: #000000;
          height: 100%;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          width: 15rem;
          font-family: Montserrat, 'Source Sans Pro';
          box-sizing: border-box;
          line-height: 1.5;
        }
        .head-t16 {
          box-sizing: border-box;
          width: 15rem;
          display: flex;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
          background-color: #ffffff;
          height: 100%;
          font-weight: 500;
          justify-content: center;
          line-height: 1.5;
          color: #000000;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
        }
        .head-xFr {
          font-weight: 500;
          color: #000000;
          width: 15rem;
          display: flex;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #ffffff;
          flex-shrink: 0;
          line-height: 1.5;
          white-space: nowrap;
          box-sizing: border-box;
          height: 100%;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
        }
        .head-oXN {
          background-color: #ffffff;
          width: 15.3rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          flex-shrink: 0;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          height: 100%;
          display: flex;
          font-size: 1.4rem;
        }
      }
      .frame-1000002542-6Fa {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 4.1rem;

        .head-qix {
          line-height: 1.5;
          flex-shrink: 0;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #ffffff;
          width: 37.1rem;
          color: #000000;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          height: 100%;
          display: flex;
          font-size: 1.4rem;
          font-weight: 500;
          white-space: nowrap;
          box-sizing: border-box;
          padding: 1rem 0.8rem;
        }
        .head-7Ra {
          width: 15.6rem;
          height: 100%;
          font-size: 1.4rem;
          background-color: #ffffff;
          font-weight: 500;
          line-height: 1.5;
          box-sizing: border-box;
          flex-shrink: 0;
          align-items: center;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          justify-content: center;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-PP6 {
          white-space: nowrap;
          flex-shrink: 0;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-size: 1.4rem;
          color: #000000;
          justify-content: center;
          background-color: #ffffff;
          width: 15rem;
          font-weight: 500;
          align-items: center;
          font-family: Montserrat, 'Source Sans Pro';
          box-sizing: border-box;
          height: 100%;
          display: flex;
          line-height: 1.5;
        }
        .head-74C {
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          height: 100%;
          font-weight: 500;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          display: flex;
          color: #000000;
          justify-content: center;
          width: 15rem;
          font-size: 1.4rem;
          align-items: center;
          background-color: #ffffff;
        }
        .head-d2Y {
          height: 100%;
          white-space: nowrap;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          font-size: 1.4rem;
          line-height: 1.5;
          color: #000000;
          justify-content: center;
          font-weight: 500;
          align-items: center;
          background-color: #ffffff;
          width: 15rem;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
        .head-Wc8 {
          display: flex;
          line-height: 1.5;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          justify-content: center;
          box-sizing: border-box;
          background-color: #ffffff;
          height: 100%;
          font-size: 1.4rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          width: 15rem;
          color: #000000;
          flex-shrink: 0;
        }
        .head-Cjr {
          font-weight: 500;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          height: 100%;
          display: flex;
          line-height: 1.5;
          width: 15.3rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          font-size: 1.4rem;
          background-color: #ffffff;
          flex-shrink: 0;
          justify-content: center;
        }
      }
      .frame-1000002543-SeC {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-AaC {
          font-weight: 500;
          color: #000000;
          white-space: nowrap;
          background-color: #ffffff;
          box-sizing: border-box;
          display: flex;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          padding: 1rem 0.8rem;
          width: 37.1rem;
          height: 100%;
          font-size: 1.4rem;
        }
        .head-fmr {
          font-size: 1.4rem;
          line-height: 1.5;
          color: #000000;
          justify-content: center;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          height: 100%;
          display: flex;
          align-items: center;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 15.6rem;
        }
        .head-8fS {
          height: 100%;
          font-size: 1.4rem;
          width: 15rem;
          font-weight: 500;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          background-color: #ffffff;
          display: flex;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          line-height: 1.5;
          align-items: center;
          flex-shrink: 0;
        }
        .head-Sw2 {
          height: 100%;
          display: flex;
          justify-content: center;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          box-sizing: border-box;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          width: 15rem;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #ffffff;
          flex-shrink: 0;
        }
        .head-A6L {
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          font-size: 1.4rem;
          line-height: 1.5;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          width: 15rem;
          height: 100%;
          flex-shrink: 0;
          display: flex;
          background-color: #ffffff;
          justify-content: center;
          color: #000000;
          white-space: nowrap;
        }
        .head-cyv {
          width: 15rem;
          font-size: 1.4rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          background-color: #ffffff;
          display: flex;
          line-height: 1.5;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          flex-shrink: 0;
          height: 100%;
          font-weight: 500;
          white-space: nowrap;
        }
        .head-hVa {
          line-height: 1.5;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          box-sizing: border-box;
          font-weight: 500;
          width: 15.3rem;
          font-size: 1.4rem;
          white-space: nowrap;
          justify-content: center;
          display: flex;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #ffffff;
          flex-shrink: 0;
          height: 100%;
        }
      }
      .frame-1000002544-nmv {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-WC8 {
          box-sizing: border-box;
          width: 37.1rem;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          height: 100%;
          font-size: 1.4rem;
          color: #000000;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          padding: 1rem 0.8rem;
          font-weight: 500;
          white-space: nowrap;
          background-color: #ffffff;
          line-height: 1.5;
          flex-shrink: 0;
        }
        .head-oh2 {
          align-items: center;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #ffffff;
          width: 15.6rem;
          justify-content: center;
          color: #000000;
          box-sizing: border-box;
          height: 100%;
          font-size: 1.4rem;
          font-weight: 500;
        }
        .head-Gac {
          font-weight: 500;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          display: flex;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          box-sizing: border-box;
          width: 15rem;
          height: 100%;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
        }
        .head-Yo2 {
          font-size: 1.4rem;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          height: 100%;
          font-weight: 500;
          white-space: nowrap;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #ffffff;
          flex-shrink: 0;
          display: flex;
          line-height: 1.5;
          width: 15rem;
          justify-content: center;
          box-sizing: border-box;
        }
        .head-GDE {
          justify-content: center;
          flex-shrink: 0;
          display: flex;
          font-size: 1.4rem;
          color: #000000;
          align-items: center;
          box-sizing: border-box;
          background-color: #ffffff;
          height: 100%;
          line-height: 1.5;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          width: 15rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-N1N {
          display: flex;
          justify-content: center;
          width: 15rem;
          background-color: #ffffff;
          flex-shrink: 0;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-weight: 500;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          height: 100%;
          color: #000000;
          white-space: nowrap;
          align-items: center;
          box-sizing: border-box;
          font-size: 1.4rem;
        }
        .head-sD2 {
          justify-content: center;
          flex-shrink: 0;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          font-weight: 500;
          background-color: #ffffff;
          height: 100%;
          display: flex;
          font-size: 1.4rem;
          line-height: 1.5;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          width: 15.3rem;
        }
      }
      .frame-1000002546-k1v {
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .head-HnY {
          font-size: 1.4rem;
          color: #000000;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          padding: 1rem 0.8rem;
          line-height: 1.5;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          white-space: nowrap;
          background-color: #ffffff;
          flex-shrink: 0;
          width: 37.1rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
        }
        .head-N3J {
          box-sizing: border-box;
          height: 100%;
          display: flex;
          align-items: center;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          width: 15.6rem;
          justify-content: center;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          background-color: #ffffff;
          font-size: 1.4rem;
          flex-shrink: 0;
        }
        .head-dzp {
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-weight: 500;
          font-size: 1.4rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          line-height: 1.5;
          justify-content: center;
          box-sizing: border-box;
          height: 100%;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          background-color: #ffffff;
          width: 15rem;
        }
        .head-Eji {
          font-size: 1.4rem;
          line-height: 1.5;
          box-sizing: border-box;
          height: 100%;
          font-weight: 500;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          background-color: #ffffff;
          width: 15rem;
          display: flex;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          white-space: nowrap;
          align-items: center;
        }
        .head-Ue4 {
          font-weight: 500;
          line-height: 1.5;
          align-items: center;
          font-size: 1.4rem;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          width: 15rem;
          height: 100%;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          justify-content: center;
          background-color: #ffffff;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .head-9EQ {
          width: 15rem;
          height: 100%;
          font-size: 1.4rem;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          white-space: nowrap;
          box-sizing: border-box;
          background-color: #ffffff;
          display: flex;
          font-weight: 500;
          color: #000000;
          align-items: center;
          justify-content: center;
        }
        .head-EFr {
          width: 15.3rem;
          height: 100%;
          box-sizing: border-box;
          background-color: #ffffff;
          display: flex;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          color: #000000;
          white-space: nowrap;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 500;
          line-height: 1.5;
          align-items: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
      }
      .frame-1000002545-iwi {
        width: 100%;
        height: 4.1rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .head-S72 {
          background-color: #ffffff;
          box-sizing: border-box;
          width: 37.1rem;
          height: 100%;
          line-height: 1.5;
          flex-shrink: 0;
          padding: 1rem 0.8rem;
          font-weight: 500;
          color: #000000;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          display: flex;
          font-size: 1.4rem;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
        }
        .head-LiC {
          height: 100%;
          align-items: center;
          justify-content: center;
          font-family: Montserrat, 'Source Sans Pro';
          flex-shrink: 0;
          line-height: 1.5;
          font-size: 1.4rem;
          font-weight: 500;
          color: #000000;
          background-color: #ffffff;
          width: 15.6rem;
          display: flex;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
        }
        .head-be8 {
          width: 15rem;
          white-space: nowrap;
          justify-content: center;
          flex-shrink: 0;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          height: 100%;
          font-size: 1.4rem;
          font-weight: 500;
          color: #000000;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          box-sizing: border-box;
          background-color: #ffffff;
          display: flex;
        }
        .head-6Kz {
          justify-content: center;
          box-sizing: border-box;
          line-height: 1.5;
          height: 100%;
          display: flex;
          font-size: 1.4rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          width: 15rem;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;
          color: #000000;
        }
        .head-D9i {
          color: #000000;
          justify-content: center;
          background-color: #ffffff;
          width: 15rem;
          line-height: 1.5;
          font-family: Montserrat, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          height: 100%;
          font-size: 1.4rem;
          align-items: center;
          box-sizing: border-box;
          display: flex;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          font-weight: 500;
        }
        .head-UrL {
          box-sizing: border-box;
          background-color: #ffffff;
          width: 15rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          height: 100%;
          color: #000000;
          justify-content: center;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
          flex-shrink: 0;
          font-size: 1.4rem;
          white-space: nowrap;
          align-items: center;
          display: flex;
          line-height: 1.5;
        }
        .head-CnL {
          height: 100%;
          display: flex;
          flex-shrink: 0;
          width: 15.3rem;
          font-weight: 500;
          font-family: Montserrat, 'Source Sans Pro';
          align-items: center;
          justify-content: center;
          background-color: #ffffff;
          font-size: 1.4rem;
          box-sizing: border-box;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          border: solid 0.1rem rgba(45, 55, 66, 0.8000000119);
        }
      }
    }
  }
  .mtk-sf-TTN {
    color: #000000;
    white-space: nowrap;
    height: 2.4rem;
    position: absolute;
    left: 195.85rem;
    top: 20.2rem;
    text-align: center;
    line-height: 1.5;
    width: 7rem;
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .frame-1000002553-mU4 {
    height: 36.9rem;
    position: absolute;
    left: 10rem;
    top: 24.3rem;
    display: flex;
    column-gap: 4rem;
    align-items: center;
    width: 172rem;

    .frame-1000002550-EsS {
      flex-direction: column;
      flex-shrink: 0;
      height: 100%;
      display: flex;

      .cortland-westshore-o9r {
        color: #0d0d0d;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .point3d-commercial-imaging-ltd-or1m4bl1puu-unsplash-1-Xbe {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 40rem;
        height: 32.8rem;
      }
    }
    .frame-1000002549-q6Y {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .cortland-westshore-zEL {
        font-weight: 600;
        line-height: 1.5;
        color: #0d0d0d;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0rem 0.8rem 0.1rem;
        font-size: 2.2rem;
      }
      .related-2-townwestshore-patio-WTa {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 40rem;
        height: 32.8rem;
      }
    }
    .frame-1000002551-r1e {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .azola-south-tampa-CrC {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #0d0d0d;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
      }
      .pgr37salaterracoapto262ef-1-won {
        flex-shrink: 0;
        width: 40rem;
        height: 32.8rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .frame-1000002552-eiC {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .amelia-westshore-By2 {
        font-weight: 700;
        line-height: 1.5;
        color: #0d0d0d;
        font-family: Montserrat, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        font-size: 2.2rem;
      }
      .related-town-westshore-lobby-2-LL8 {
        width: 40rem;
        height: 32.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .frame-1000002554-dq2 {
    font-family: Montserrat, 'Source Sans Pro';
    white-space: nowrap;
    font-weight: 700;
    letter-spacing: 0.112rem;
    text-transform: uppercase;
    border-bottom: solid 0.1rem #000000;
    height: 10rem;
    position: absolute;
    left: 10rem;
    top: 8.5rem;
    box-sizing: border-box;
    width: 78.1rem;
    font-size: 5.6rem;
    line-height: 1.2000000817;
    color: #0d0d0d;
  }
}
