
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-11-FwN {
  background-color: #0d0d0d;
  box-sizing: border-box;
  position: relative;
  display: flex;
  column-gap: 4rem;
  align-items: center;
  border: solid 0.1rem #fff9c7;
  padding: 8.8rem 9.9rem 10rem 9.6rem;
  width: 100%;
  overflow: hidden;

  .auto-group-enwu-7Ct {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 89.2rem;

    .investment-highlights-4P2 {
      font-size: 7.6rem;
      line-height: 1.2000000602;
      text-transform: uppercase;
      font-family: Montserrat, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 3.8rem;
      max-width: 53.8rem;
      font-weight: 700;
      color: #fafaff;
    }
    .group-312-9vG {
      height: 67.1rem;
      position: relative;
      background-size: 131.186% 100%;
      background-position: -17.059rem 0;
      background-image: url('REPLACE_IMAGE:7efff7b0a832ec00a5403be80ad9d0c550079a07');
      flex-shrink: 0;
      margin-left: 0.4rem;
      width: 54.7rem;

      .group-1-dqS {
        width: 9.4625rem;
        height: 4.1499rem;
        position: absolute;
        left: 17.8rem;
        top: 36.5322rem;
        background-color: #bec3ff;
        box-sizing: border-box;
        padding: 0.788rem 1.897rem 0.787rem 1.917rem;

        .layer1-XR2 {
          position: relative;
          object-fit: contain;
          vertical-align: top;
          width: 5.6486rem;
          height: 2.5757rem;
        }
      }
      .ellipse-9-TpU {
        left: 31.7rem;
        top: 38.5825rem;
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
        height: 0.9319rem;
        position: absolute;
      }
      .rectangle-25-QDv {
        height: 0.0932rem;
        position: absolute;
        left: 29.8rem;
        top: 38.9553rem;
        background-color: #bec3ff;
        width: 2.2rem;
      }
      .ellipse-17-LNU {
        height: 0.9319rem;
        position: absolute;
        left: 46.5rem;
        top: 48.1815rem;
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
      }
      .rectangle-34-f9r {
        position: absolute;
        left: 47rem;
        top: 46.8768rem;
        background-color: #f9faff;
        width: 0.1rem;
        height: 1.3979rem;
      }
      .frame-164-ywE {
        font-weight: 500;
        line-height: 1.5;
        font-family: Montserrat, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        background-color: #f9faff;
        width: 13.7rem;
        text-align: center;
        color: #000000;
        white-space: nowrap;
        display: flex;
        left: 31.7rem;
        top: 44.547rem;
        font-size: 1rem;
        height: 3.2618rem;
        position: absolute;
      }
      .ellipse-15-Spp {
        object-fit: contain;
        vertical-align: top;
        width: 1.1495rem;
        height: 1.0713rem;
        position: absolute;
        left: 41.8rem;
        top: 34.1092rem;
      }
      .rectangle-31-bBv {
        background-color: #f9faff;
        width: 0.4831rem;
        height: 1.3747rem;
        position: absolute;
        left: 42.4rem;
        top: 33.2704rem;
      }
      .ellipse-8-sv8 {
        width: 50rem;
        height: 48.204rem;
        position: absolute;
        left: 2.3rem;
        top: 11.0869rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-10-o36 {
        left: 29rem;
        top: 13.2336rem;
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
        height: 0.9319rem;
        position: absolute;
      }
      .ellipse-13-96x {
        position: absolute;
        left: 43rem;
        top: 19.664rem;
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
        height: 0.9319rem;
      }
      .ellipse-14-5mJ {
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
        height: 0.9319rem;
        position: absolute;
        left: 41.7rem;
        top: 38.4893rem;
      }
      .ellipse-12-EPJ {
        width: 1rem;
        height: 0.9319rem;
        position: absolute;
        left: 43.4rem;
        top: 5.778rem;
        object-fit: contain;
        vertical-align: top;
      }
      .ellipse-11-wHi {
        height: 0.9319rem;
        position: absolute;
        left: 30.9rem;
        top: 16.5886rem;
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
      }
      .rectangle-26-gm6 {
        height: 1.3979rem;
        position: absolute;
        left: 29.5rem;
        top: 11.9289rem;
        background-color: #f9faff;
        width: 0.1rem;
      }
      .rectangle-29-Rya {
        height: 1.3979rem;
        position: absolute;
        left: 43.5rem;
        top: 18.3593rem;
        background-color: #f9faff;
        width: 0.1rem;
      }
      .rectangle-30-MsE {
        background-color: #f9faff;
        width: 2.005rem;
        height: 0.6867rem;
        position: absolute;
        left: 42.3525rem;
        top: 38.2097rem;
      }
      .rectangle-28-SNt {
        width: 0.1rem;
        height: 1.3979rem;
        position: absolute;
        left: 43.9rem;
        top: 4.4733rem;
        background-color: #f9faff;
      }
      .rectangle-27-waY {
        width: 0.9159rem;
        height: 1.2145rem;
        position: absolute;
        left: 30.4001rem;
        top: 17.1478rem;
        background-color: #f9faff;
      }
      .frame-151-fWY {
        display: flex;
        width: 9.3rem;
        text-align: center;
        white-space: nowrap;
        left: 12.9rem;
        top: 51.4433rem;
        font-family: Montserrat, 'Source Sans Pro';
        color: #000000;
        align-items: center;
        justify-content: center;
        height: 4.3801rem;
        position: absolute;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.5;
        background-color: #f9faff;
      }
      .frame-152-AiC {
        position: absolute;
        left: 17.9rem;
        top: 5.8712rem;
        background-color: #f9faff;
        box-sizing: border-box;
        padding: 0.779rem 3.45rem 0.779rem 3.45rem;
        width: 13.5rem;
        height: 6.0576rem;

        .tampa-international-airport-ThJ {
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 6.6rem;
        }
      }
      .frame-153-NJU {
        line-height: 1.5;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 1rem;
        background-color: #f9faff;
        text-align: center;
        left: 24.9rem;
        width: 10.5rem;
        position: absolute;
        top: 18.0797rem;
        white-space: nowrap;
        display: flex;
        height: 3.2618rem;
      }
      .frame-154-SZE {
        top: 1.3979rem;
        font-size: 1rem;
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        position: absolute;
        background-color: #f9faff;
        height: 3.2618rem;
        white-space: nowrap;
        width: 7.7rem;
        left: 43.4rem;
        text-align: center;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
        align-items: center;
      }
      .frame-155-MgC {
        background-color: #f9faff;
        height: 3.2618rem;
        position: absolute;
        line-height: 1.5;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        width: 10.9rem;
        font-size: 1rem;
        top: 16.1226rem;
        font-weight: 500;
        white-space: nowrap;
        left: 40rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .frame-156-TDS {
        background-color: #f9faff;
        box-sizing: border-box;
        padding: 0.83rem 1.05rem 0.83rem 1.05rem;
        width: 11.4rem;
        height: 4.6597rem;
        position: absolute;
        left: 36.1rem;
        top: 35.6935rem;

        .palma-ceia-golf-country-club-yha {
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 9.3rem;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.5;
          color: #000000;
        }
      }
      .frame-165-ur8 {
        width: 15rem;
        height: 6.0576rem;
        position: absolute;
        left: 34.4rem;
        top: 27.2128rem;
        background-color: #f9faff;
        box-sizing: border-box;
        padding: 0.7788rem 2.8rem;

        .ballast-point-park-tampa-yacht-country-club-ENc {
          line-height: 1.5;
          color: #000000;
          font-family: Montserrat, 'Source Sans Pro';
          max-width: 9.4rem;
          text-align: center;
          font-size: 1rem;
          font-weight: 500;
        }
      }
      .group-312-9vG-bg {
        width: 54.7rem;
        height: 67.1rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:7efff7b0a832ec00a5403be80ad9d0c550079a07');
      }
    }
  }
  .auto-group-uc3m-5e8 {
    width: 54.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 1.2rem;

    .frame-103-2ZN {
      margin-bottom: 2.9rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .proximate-to-major-employers-demand-drivers-752 {
        max-width: 41.5rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.3999999762;
        font-family: Montserrat, 'Source Sans Pro';
        margin-bottom: 3.2rem;
        letter-spacing: 0.064rem;
        text-transform: uppercase;
        color: #f9faff;
        flex-shrink: 0;
      }
      .tampas-diverse-economy-and-numerous-demand-drivers-make-it-a-highly-desirable-location-for-real-estate-investment-as-the-second-largest-msa-in-the-state-and-the-third-largest-in-the-southeast-tampa-is-home-to-a-variety-of-corporate-headquarters-a-robust-military-defense-industry-and-a-thriving-financial-and-professional-services-sector-in-fact-tampa-was-recently-named-the-top-emerging-tech-city-in-the-us-by-forbes-the-pointe-on-westshores-location-in-the-westshore-marina-district-positions-it-just-15-minutes-outside-of-downtown-tampa-the-citys-financial-and-cultural-hub-the-area-boasts-over-116-million-square-feet-of-office-space-and-95000-jobs-as-well-as-popular-attractions-like-amalie-arena-the-tampa-bay-convention-center-and-the-florida-aquarium-additionally-the-3-billion-water-street-development-project-is-underway-on-50-acres-between-the-channel-district-and-the-downtown-office-core-the-westshore-business-district-located-just-a-few-minutes-to-the-north-offers-20-million-square-feet-of-space-for-102000-employees-1gC {
        max-width: 54.6rem;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: rgba(249, 250, 255, 0.8000000119);
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .image-52-SHe {
      width: 54.6rem;
      height: 27.6rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .auto-group-simh-yoN {
    margin-top: 1.2rem;
    width: 54.8rem;
    flex-shrink: 0;

    .image-49-hzG {
      width: 54.7rem;
      height: 36.7rem;
      object-fit: cover;
      vertical-align: top;
      margin-bottom: 5.8rem;
    }
    .frame-102-448 {
      width: 100%;
      display: flex;
      flex-direction: column;

      .minutes-to-grocery-entertainment-waterfront-amenities-B8k {
        margin-bottom: 3.2rem;
        max-width: 45.6rem;
        font-size: 3.2rem;
        letter-spacing: 0.064rem;
        text-transform: uppercase;
        color: #f9faff;
        font-weight: 700;
        line-height: 1.3999999762;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .minutes-to-grocery-entertainment-waterfront-amenities-abundant-retail-and-world-class-dining-and-recreational-activities-are-accessible-within-minutes-of-the-property-the-pointe-on-westshore-is-moments-away-from-skyview-park-and-waterfront-ballast-point-park-which-includes-the-tampa-yacht-country-club-nearby-grocery-and-retailers-include-whole-foods-trader-joes-target-starbucks-cvs-walgreens-publix-macys-walmart-wawa-home-depot-and-crunch-fitness-the-pointe-on-westshore-is-within-a-short-drive-of-several-golf-courses-including-palma-ceia-golf-country-club-and-some-of-the-most-highly-rated-beaches-in-the-us-including-st-pete-beach-ranked-1-nationwide-tripadvisor-2021-Ude {
        font-weight: 500;
        line-height: 1.5;
        color: rgba(249, 250, 255, 0.8000000119);
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 54.8rem;
        font-size: 1.6rem;
      }
    }
  }
}
